.table-menu-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;
  margin: 0px;
  padding: 0px;
  box-shadow: 0px 0px 2px #00000050;
}
.table-menu {
  font-family: Roboto;
  font-size: 20px;
  color: #000;
  padding: 15px;
  background: transparent;
  border: none;
  width: 230px;
  border-bottom: solid 2px transparent;
  box-sizing: border-box;
  cursor: pointer;
  font-weight: 500;
}
.table-menu-active {
  color: #c97c6f;
  border-bottom: #c97c6f 2px solid;
}
